#container{
    width: 950px;
    margin: 0 auto;
    text-align: left;
    border: 2px solid;
    border-style: dashed;
    border-color: #dddddd;
}
#top {
    position: relative;
    color: black;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    background-image:url(../images/k.gif); 
    background-repeat: no-repeat;
}

#bottom {

    position:relative ;
    background-color: #ee7;
    padding: 15px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    position: relative;
    float: right;
    background-color: #fff;
    padding: 10px;
    width: 300px;
    border-left: 2px solid;
    border-left-style: dashed;
    border-left-color: #dddddd;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    position: relative;
    background-color: #fff;
    padding:10px;
    margin: 0px 330px 10px 0px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


